@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

*,
::before,
::after {
  box-sizing: border-box;
}

html,
body,
#root,
.app {
  height: 100%;
  width: 100%;
  @apply text-sm;
  @apply bg-gray-500;
  @apply text-gray-900;
}

@theme {
  --color-white: #ffff;
  --color-gray-100: #f3f4f6;
  --color-gray-200: #e5e7eb;
  --color-gray-300: #d1d5db;
  --color-gray-700: #6b7280;

  --color-blue-200: #93c5fd;
  --color-blue-400: #60a5fa;
  --color-blue-500: #3b82f6;

  --color-dark-bg: #101214;
  --color-secondary: #161f21;
  --color-tertiary: #383d40;
  --color-primary: #0275ff;
  --color-stroke-dark: #2d3135;
}

.hide-scrollbar {
  scrollbar-width: none;
  -ms-overflow-style: none;
}
.hide-scrollbar::-webkit-scrollbar {
  display: none; /* Chrome, Safari */
}
